.mainSegments {
    /* background-color: #163C62 !important; */
    /* background-image: linear-gradient(black, #163C62) !important; */
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(22,60,98,.6)) !important;

}
.bigdiv {
    
}
.divs {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.divheaders{
    text-align: center;
}
.divone {
    background-image: url("https://live.staticflickr.com/65535/48954138902_e9ae0d1a65_o_d.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divtwo {
    background-image: url("https://live.staticflickr.com/65535/48129269897_22d854be5c_o_d.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divthree {
    background-image: url("https://live.staticflickr.com/7608/16661753958_9f61f777e7_o_d.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}