/* @font-face { font-family: Delicious; src: url('Fonts/SFOuterLimits.ttf'); }  */

.mainSegments {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(22,60,98,.6)) !important;
    
}

.divs {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.divheaders{
    text-align: center;
    /* FONT AND SIZE HERE */
    /* font-family: Delicious; */
    font-family: 'Righteous', cursive !important;
    font-size: 150%;
    color: rgb(22,60,98) !important;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
.divone {
    background-image: url("https://live.staticflickr.com/65535/48954138902_e9ae0d1a65_o_d.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divtwo {
    background-image: url("https://live.staticflickr.com/65535/48129269897_22d854be5c_o_d.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divthree {
    background-image: url("https://live.staticflickr.com/7608/16661753958_9f61f777e7_o_d.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

